tr.trace
  background-color: #ddd

tr.debug        
  background-color: #ddf

tr.info        
  background-color: #fff

tr.warn        
  background-color: #ffd

tr.error        
  background-color: #fdd

span.highlight-1
  background-color: #fcc

span.highlight-2
  background-color: #cfc

span.highlight-3
  background-color: #ccf

span.highlight-4
  background-color: #cff

span.highlight-5
  background-color: #fcf

span.highlight-6
  background-color: #ffc

div.controlPanel
  overflow: hidden
  background-color: $color-tertiary
  border:1px solid black
  position: fixed
  top: 0

button.controlPanelButton
  overflow: hidden
  position: fixed
  top: 0
