tr.trace
  background-color: #ddd

tr.debug				
  background-color: #ddf

tr.info				
  background-color: #fff

tr.warn				
  background-color: #ffd

tr.error				
  background-color: #fdd

div.controlPanel
  overflow: hidden
  background-color: #fff
  border:1px solid black
  position: fixed
  top: 0

button.controlPanelButton
  overflow: hidden
  position: fixed
  top: 0
